.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-left: 21px;
    margin-bottom: 31px;
    margin-right: 15px;
    padding: 0;
}