.profile-info__email {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color-light);
  margin-left: auto;
  margin-right: 24px;
}
